<div class="form-wrap">
    <section>
        <h2>Change Password</h2>
        <div>
            <input type="text" id="new_pass" placeholder="New password" />
        </div>
        <div>
            <button id="update">Update</button>
        </div>
        <div class="resp-area inactive" id="resp-area">

        </div>
    </section>
</div>
<div class="form-wrap">
    <section>
        <h2>Add User | Delete User</h2>
        <div>
            <input type="text" id="user_name" placeholder="Enter name of user" />
        </div>
        <div>
            <input type="text" id="email" placeholder="Enter email" />
        </div>
        <div>
            <input type="text" id="password" placeholder="Enter password" />
        </div>
        <div>
            <input type="text" id="role" placeholder="Enter role" />
        </div>

        <div>
            <button id="add">Add</button> 
            <button id="delete" disabled>delete</button>
        </div>

        <div class="resp-area inactive" id="resp-area2">

        </div>

    </section>
</div>

    
<script src="~/js/site2.js" asp-append-version="true"></script>
